name: hyperarrow python wheels

on:
  release:
    types: [created, edited]
  workflow_dispatch:

jobs:
  build-macos:

    runs-on: macos-latest
    env:
      INSTALL_PREFIX: "/usr/local/miniconda/envs/hyperarrow"
      LIB_LOCATION: "/usr/local/miniconda/envs/hyperarrow/lib"
    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.8
        activate-environment: hyperarrow
        channels: conda-forge
    - name: Download Hyper Library / Headers
      run: |
        mkdir deps
        pushd deps
        wget -q https://downloads.tableau.com/tssoftware/tableauhyperapi-cxx-macos-x86_64-release-hyperapi_release_26.0.0.13821.r1fbe38ce.zip -O tableauhyperapi.zip
        unzip -q tableauhyperapi.zip
        mv tableauhyperapi-cxx-macos-x86_64-release-hyperapi_release_26.0.0.13821.r1fbe38ce tableauhyperapi
        # Copy tableau lib to system location
        # Required for subsequent python setup.py to work
        cp tableauhyperapi/lib/libtableauhyperapi.dylib ${LIB_LOCATION}
    - name: Set up out of core build
      env:
        HYPER_PATH: "/Users/runner/work/hyperarrow/hyperarrow/deps/tableauhyperapi"
        MACOSX_DEPLOYMENT_TARGET: "10.9"
      shell: bash -l {0}
      run: |
        conda activate hyperarrow
        conda install -c conda-forge "arrow-cpp>=6.0"
        mkdir build
        cd build
        cmake -DCMAKE_PREFIX_PATH="${HYPER_PATH}/share/cmake" \ -DCMAKE_INSTALL_PREFIX=${INSTALL_PREFIX} -DCMAKE_INSTALL_LIBDIR=${LIB_LOCATION} -DCMAKE_MACOSX_RPATH=ON -DCMAKE_INSTALL_RPATH=${LIB_LOCATION} ..
        make -j"$(sysctl -n hw.logicalcpu)"
        make install
        LIB_LOCATION=${LIB_LOCATION} make python
    - name: Fix wheel
      shell: bash -l {0}
      run: |
        conda activate hyperarrow
        conda install -c conda-forge pytest delocate wheel
        HYPER_WHEEL_LOC=$(ls -d python/dist/*)
        delocate-listdeps --all $HYPER_WHEEL_LOC
        delocate-wheel -v $HYPER_WHEEL_LOC
        # delocate-wheel will copy all required libraries but
        # the tableauhyperapi also requires the hyperd executable
        # so we manually copy that into the wheel as a workaround
        python -m wheel unpack $HYPER_WHEEL_LOC
        # TODO: Don't hard code version here!!!
        cp -r deps/tableauhyperapi/lib/hyper hyperarrow-0.0.1.dev0/hyperarrow/.dylibs
        python -m wheel pack hyperarrow-0.0.1.dev0
    - name: Upload wheel
      uses: actions/upload-artifact@v2
      with:
        name: macos-3.8
        path: ./*.whl
    - name: Test wheel
      shell: bash -l {0}
      run: |
        conda activate hyperarrow
        python -m pip install hyperarrow*.whl
        python -c "import hyperarrow; hyperarrow.test()"

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Build docker compose
      - run: docker-compose build python-wheel-manylinux-2014
    - name: Run docker image
      - run: docker-compose up
    - name: Upload wheel
      uses: actions/upload-artifact@v2
      with:
        name: linux-3.8
        path: python/repaired_wheels/*.whl
    - name: Test wheel
      run: |
        python -m pip install python/repaired_wheels/*.whl
        python -c "import hyperarrow; hyperarrow.test()"